---
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never

---
Language: Cpp
ColumnLimit: 90
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 5
AlignAfterOpenBracket: false
AlignArrayOfStructures: Left # (Left|Right|None)
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: false
  EnumAssignments: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionPointers: true
  AlignFunctionDeclarations: false # Don't align func-declarations
  PadOperators: true # Pad operators with spaces when aligning
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseColons: true
  AcrossComments: true
  AcrossEmptyLines: false
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AlignEscapedNewlines: Right # (DontAlign|LeftWithLastLine|Left|Right)
AlignOperands: AlignAfterOperator # Align|DontAlign|AlignAfterOperator|BreakBeforeBinaryOperators)
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen # (Always|Never|OnlyWithParen)
AllowShortBlocksOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine:
  Empty: true
  Inline: true
  Other: false
AllowShortIfStatementsOnASingleLine: "AllIfsAndElse"
AllowShortLambdasOnASingleLine: "All"
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
AllowShortRecordOnASingleLine: "Always"
AlwaysBreakAfterDefinitionReturnType: "None"
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeConceptDeclarations: Always # (Never|Allowed|Always)
BreakBeforeTemplateCloser: false
BreakBeforeTernaryOperators: true
BreakBinaryOperations:
  Default: OnePerLine
  PerOperator:
    - Operators:
        [
          "&&",
          "||",
          "?",
          ":",
          "==",
          "!=",
          "<",
          ">",
          "<=",
          ">=",
          "+",
          "-",
          "*",
          "/",
          "%",
          "&",
          "|",
          "^",
          "<<",
          ">>",
        ]
      Style: OnePerLine
      MinChainLength: 3

BreakConstructorInitializers: BeforeColon
BreakTemplateDeclarations: "Yes"
#
#
#############################################
# BRACE WRAPPING
#############################################
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Never
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false
  AfterClass: false
  AfterNamespace: false
  AfterFunction: true
  AfterCaseLabel: true
  AfterUnion: true
  BeforeCatch: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyRecord: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
#
#
DerivePointerAlignment: false
PointerAlignment: Right
NamespaceIndentation: All # (None|Inner|All)
PackConstructorInitializers: "Never"
PackArguments:
  BinPack: UseBreakAfter
  BreakAfter: 2
InsertNewlineAtEOF: true
...
