---
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never

---
Language: Cpp
ColumnLimit: 90
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 2
AlignAfterOpenBracket: false
AlignArrayOfStructures: Left # (Left|Right|None)
AlignConsecutiveAssignments:
    Enabled: true
    AcrossComments: false
    AcrossEmptyLines: false
    EnumAssignments: true
    AlignCompound: true
    PadOperators: true
AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignFunctionDeclarations: false # Don't align func-declarations
    AlignFunctionPointers: true
    PadOperators: true # Pad operators with spaces when aligning
AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AlignCaseColons: true
    AcrossComments: false
    AcrossEmptyLines: false
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 1
AlignEscapedNewlines: Right # (DontAlign|LeftWithLastLine|Left|Right)
AlignOperands: Align # Align|DontAlign|AlignAfterOperator|BreakBeforeBinaryOperators)
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen # (Always|Never|OnlyWithParen)
AllowShortBlocksOnASingleLine: false
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine:
    Empty: true
    Inline: true
    Other: false
AllowShortIfStatementsOnASingleLine: "AllIfsAndElse"
AllowShortLambdasOnASingleLine: "All"
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
AllowShortRecordOnASingleLine: "Always"
AlwaysBreakAfterDefinitionReturnType: "None"
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: NonAssignment # (None|NonAssignment|All)
BreakBeforeConceptDeclarations: Always # (Never|Allowed|Always)
BreakBeforeTemplateCloser: false
BreakBeforeTernaryOperators: true
BreakBinaryOperations:
    Default: OnePerLine
    PerOperator:
        - Operators:
              [
                  "&&",
                  "||",
                  "==",
                  "!=",
                  "<",
                  ">",
                  "<=",
                  ">=",
                  "&",
                  "|",
                  "^",
              ]
          Style: OnePerLine
          MinChainLength: 3
        - Operators:
              [
                  "+",
                  "-",
                  "*",
                  "/",
                  "%",
                  "<<",
                  ">>",
              ]
          Style: Never

BreakConstructorInitializers: BeforeColon
BreakTemplateDeclarations: "Yes"
#
#
#############################################
# BRACE WRAPPING
#############################################
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Never
    AfterStruct: false
    AfterEnum: false
    BeforeElse: false
    AfterClass: false
    AfterNamespace: true
    AfterFunction: true
    AfterCaseLabel: true
    AfterUnion: true
    BeforeCatch: true
    BeforeLambdaBody: true
    BeforeWhile: true
    IndentBraces: false
    SplitEmptyRecord: false
    SplitEmptyFunction: false
    SplitEmptyNamespace: false
#
#
DerivePointerAlignment: false
PointerAlignment: Right
NamespaceIndentation: Inner # (None|Inner|All)
PackConstructorInitializers: "Never"
PackArguments:
    BinPack: UseBreakAfter
    BreakAfter: 2
InsertNewlineAtEOF: true
...
